* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgb(161, 231, 231), rgb(190, 187, 194));
}

.container-box {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin: 100px auto;
    position: relative;
   
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    animation-duration: 5s;
    animation-name: box;
}

@keyframes box {
    0% {
        left: 0;
        top: 0;
        background-color: red;
    }
    25% {
        left: 400px;
        top: 0px;
        background-color: blue;
    }
    50% {
        left: 400px;
        top: 400px;
        background-color: green;
    }
    75% {
        left: 0;
        top: 400px;
        background-color: yellow;
    }
    100% {
        left: 0;
        top: 0;
        background-color: red;
    }

}